*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    display: flex;
}

.title {
    font-family: sans-serif;
    font-weight: 800;
    margin: 8px;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(79, 80, 255);
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.btn:hover {
    background-color: rgb(34, 45, 252);
    transform: rotate(3deg);
}

@media only screen and(max-width: 476px) {
    .container {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 50%;
        flex-wrap: wrap;
    }
    .btn {
        padding: 15px 30px;
    }
}